* text=auto eol=lf
/LICENSE.txt -text
/TODO.txt -text
/__init__.py -text
/algorithms.py -text
analysis/FluxNoiseAnalysis.py -text
analysis/__init__.py -text
analysis/_readme.txt -text
analysis/arbitraryStatesAnalysis.py -text
analysis/catStateAnalysis.py -text
analysis/entanglementAnalysis.py -text
analysis/fockDecayAnalysis.py -text
analysis/fresnelAnalysis.py -text
analysis/idealWindowFuncAnalysis.py -text
analysis/mathHelpers.py -text
analysis/matlabHelperAnalysis.py -text
analysis/myPlotUtils.py -text
analysis/numberAnalysis.py -text
analysis/phaseGateAnalysis.py -text
analysis/physicalConstants.py -text
analysis/qubitParamsAnalysis.py -text
analysis/ramseyIntegrals.py -text
analysis/signalProcessing.py -text
analysis/stateAnalysis.py -text
analysis/stateTomography.py -text
analysis/statsAnalysis.py -text
analysis/swapPulseAnalysis.py -text
analysis/tomoPlotAnalysis.py -text
analysis/wernerAnalysis.py -text
analysis/wignerAnalysis.py -text
dataking/AmpMeasure/SNTJConfig.py -text
dataking/AmpMeasure/SNTJDataCode.py -text
dataking/AmpMeasure/SNTJFit_dataVault.py -text
dataking/AmpMeasure/__init__.py -text
dataking/AmpMeasure/dVdPhiPlotter.py -text
dataking/AmpMeasure/fpgatools2.py -text
dataking/AmpMeasure/freqFluxPhase.py -text
dataking/AmpMeasure/freqPowerPhase.py -text
dataking/AmpMeasure/frequencyScan.py -text
dataking/AmpMeasure/fullFluxParameterSweep.py -text
dataking/AmpMeasure/noiseScan.py -text
dataking/AmpMeasure/parampGainTuner.py -text
dataking/AmpMeasure/powerScan.py -text
dataking/AmpMeasure/powerScanPhase.py -text
dataking/AmpMeasure/setbias.py -text
dataking/AmpMeasure/variableSaturation.py -text
dataking/DevDaniel/TODO.txt -text
dataking/DevDaniel/__init__.py -text
dataking/DevDaniel/cz.py -text
dataking/DevDaniel/ghz.py -text
dataking/DevDaniel/grapeCZ.py -text
dataking/DevDaniel/sandbox.py -text
dataking/DevDaniel/tuneUp.py -text
dataking/DevJim/QND/QNDreadout.py -text
dataking/DevJim/QND/__init__.py -text
dataking/DevJim/QND/couplerResonator.py -text
dataking/DevJim/QND/fourierplot.py -text
dataking/DevJim/QND/fpgaseq_QND.py -text
dataking/DevJim/QND/newarbitrary_QND.py -text
dataking/DevJim/QND/newarbitrarystate.py -text
dataking/DevJim/QND/newdstools.py -text
dataking/DevJim/QND/newmyplotutils.py -text
dataking/DevJim/QND/newstates.py -text
dataking/DevJim/QND/newtomoplot.py -text
dataking/DevJim/QND/quantrans.py -text
dataking/DevJim/QuasiparticleScans/dephasingSweeps_swap.py -text
dataking/DevJim/QuasiparticleScans/multiqubit_swap.py -text
dataking/DevJim/QuasiparticleScans/qpanalysis.py -text
dataking/DevJim/QuasiparticleScans/qubitparams.py -text
dataking/DevJim/QuasiparticleScans/scans.py -text
dataking/DevJim/QuasiparticleScans/scans_adc.py -text
dataking/DevJim/QuasiparticleScans/setbias.py -text
dataking/DevJim/QuasiparticleScans/twostate.py -text
dataking/DevJim/QuasiparticleScans/twostate_adc.py -text
dataking/DevJim/__init__.py -text
dataking/DevJim/benchmarking.py -text
dataking/DevJim/tuneUp.py -text
dataking/TODO.txt -text
dataking/__init__.py -text
dataking/automateDaily.py -text
dataking/benchmarking/TODO.txt -text
dataking/benchmarking/__init__.py -text
dataking/benchmarking/danBench.py -text
dataking/benchmarking/randomBench.py -text
dataking/confDaniel.py -text
dataking/confGeneric.py -text
dataking/confMatteo.py -text
dataking/crosstalk.py -text
dataking/dephasingSweeps.py -text
dataking/diagnostics.py -text
dataking/envelopehelpers.py -text
dataking/fpgaseq.py -text
dataking/fpgaseqNotes.py -text
dataking/fpgaseqTransmon.py -text
dataking/ghz.py -text
dataking/hadamard.py -text
dataking/ivTester/SQUID_IV_conf.py -text
dataking/ivTester/__init__.py -text
dataking/ivTester/ivTester.py -text
dataking/measurement.py -text
dataking/moon.py -text
dataking/multiqubit.py -text
dataking/noon.py -text
dataking/noonM.py -text
dataking/quantumJumps.py -text
dataking/qubitpulsecal.py -text
dataking/qubitsequencer.py -text
dataking/randomGeneration.py -text
dataking/resonator.py -text
dataking/sandbox.py -text
dataking/sequenceBuilder.py -text
dataking/shor.py -text
dataking/shotNoise/SNTJConfig.py -text
dataking/shotNoise/SNTJDataCode.py -text
dataking/shotNoise/SNTJFit_dataVault.py -text
dataking/shotNoise/__init__.py -text
dataking/squid.py -text
dataking/sr770/__init__.py -text
dataking/sr770/conf.py -text
dataking/sr770/noiseTest.py -text
dataking/sweeps.py -text
dataking/transmon.py -text
dataking/util.py -text
dataking/utilMultilevels.py -text
dataking/werner.py -text
/datasaver.py -text
/envelopes.py -text
examples/__init__.py -text
fitting/__init__.py -text
fitting/dephasing.py -text
fitting/fitting.py -text
fitting/fourierplot.py -text
/gateCompiler.py -text
/math.py -text
/pipeline.py -text
plotting/__init__.py -text
plotting/dstools.py -text
plotting/plothelper.py -text
plotting/tomography.py -text
/registry.py -text
sim/__init__.py -text
sim/cPhaseQRQ.py -text
sim/doubleCphaseQRQQ.py -text
sim/integrate.py -text
sim/noon.py -text
sim/piPulse.py -text
sim/qctools.py -text
sim/quantsim.py -text
sim/quantumJumps.py -text
sim/sequences.py -text
sim/simConf.py -text
sim/testCPhase2.py -text
sim/testCPhaseQR.py -text
sim/testCPhaseQRQ.py -text
sim/testCns.py -text
sim/testGHZ.py -text
sim/testGenRamsey.py -text
sim/testQubitResonatorSwaps.py -text
sim/testRabi.py -text
sim/testT1.py -text
sim/transmon.py -text
telecomm/__init__.py -text
telecomm/attachments.txt -text
telecomm/messaging.py -text
test/__init__.py -text
/tomo.py -text
util/__init__.py -text
util/getch.py -text
util/labradtools.py -text
util/structures.py -text
util/sweeptools.py -text
util/test.py -text
/workflow.py -text
